<section class="container-sm">
    <div class="text-lg text-center p-4 m-auto">Avisos proximamento... Por ahora dejamos un video de mi morrilla bailando un villancico</div>
    <div class="flex justify-center">
        <video controls width="400px" class="rounded">
            <source src="../../assets/helen_bailando.mp4" type="video/mp4">
            <source src="../../assets/helen_bailando.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>

</section>


p
