<section class="container-sm bg-opacity-5 p-8 backdrop-blur-md">
    
        <h1 class="text-2xl font-bold text-gray-500 text-center mb-5">Ya va a nacer mi segundo chamaquito en...</h1>
    
        <div id="countdown" class="flex space-x-4 justify-center">
          <div class="text-center">
            <span id="days" class="block text-5xl font-semibold text-gray-600">{{days}}</span>
            <span class="block text-sm text-gray-500">Días</span>
          </div>
          <div class="text-center">
            <span id="hours" class="block text-5xl font-semibold text-gray-600">{{hours}}</span>
            <span class="block text-sm text-gray-500">Horas</span>
          </div>
          <div class="text-center">
            <span id="minutes" class="block text-5xl font-semibold text-gray-600">{{minutes}}</span>
            <span class="block text-sm text-gray-500">Minutos</span>
          </div>
          <div class="text-center">
            <span id="seconds" class="block text-5xl font-semibold text-gray-600">{{seconds}}</span>
            <span class="block text-sm text-gray-500">Segundos</span>
          </div>
        </div>
    <div class="flex justify-center mt-5">
        <div style="width: 600px">
            <img src="../../assets/helen-bere.jpg" class='w-full' alt="Bere y Helena en Museo del Juguete">
        </div>
    </div>
    <div class="text-center text-gray-400">Aquí tenía cómo 6 meses y medio...</div>
</section>





