<div class="m-3">
    <mat-label>Agregar voucher</mat-label>
    <input matInput type="number" (keyup.enter)="addInput1($event)" class="border m-3">
</div>
<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Importe">
      <th mat-header-cell *matHeaderCellDef> Importe </th>
      <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!-- <table class="table-auto">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Importe</th>
            <th>Total</th>
            

        </tr>
    </thead>

</table> -->
<!-- <form [formGroup]="cardReceipts" class="grid grid-cols-6 grid-rows-6 grid-flow-col gap-y-1 gap-x-8">
    <ng-container *ngFor="let card of cardReceipts.controls | keyvalue; index as i">
        <label [for]="'input'+i">{{i}}</label>
        <input matInput type="text" [id]="'input'+i" [formControlName]="i" (keyup.enter)="addInput(i)">

    </ng-container>
</form> -->