
<!-- <table mat-table [dataSource]="data" class="mat-elevation-z8">

     Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" 
  
     Position Column 
    <ng-container matColumnDef="Numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>
  
     Name Column 
    <ng-container matColumnDef="Importe">
      <th mat-header-cell *matHeaderCellDef> Importe </th>
      <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  <section class="grid grid-cols-4">
    <!--Cards section-->
    <section>
        <div class="m-3">
            <mat-label>Agregar voucher</mat-label>
            <input 
            id="inputCards"
            required="true"
            appOnlyDigits
            matInput type="number" 
            (keyup.enter)="addInput($event)" 
            class="border m-3">
        </div>

        <form [formGroup]="cardReceipts" >
            <ng-container formArrayName="formArray"> 
                <table *ngIf="countCardReceipts > 0" class="w-full table-auto text-center divide-y divide-green-400">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="md:px-6 px-1 py-1.5 text-xs text-gray-500">
                                No.
                            </th>
                            <th class="md:px-6 px-1 py-1.5 text-xs text-gray-500">
                                Importe
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300">
                        <tr class="whitespace-nowrap" *ngFor="let input of formArray.controls; index as i" class="bg-[#9b19f5]">
                            <div [formGroupName]="i">
                            <td class="md:px-4 px-1 py-1.5 text-sm text-white">
                                <label for="input{{i}}" >{{i}}</label>
                            </td>
                            <td class="md:px-4 px-1 py-1.5 text-sm text-gray-700">
                                <input type="number" id="input{{i}}" formControlName="cardValue">
                            </td>
                            <td>
                                <mat-icon class="mt-1.5 hover:cursor-pointer" (click)="deleteInput(i, 'cards')">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>                                  
                                </mat-icon>
                            </td>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </form>
    </section>
</section>