<h1 class="text-center text-xl text-gray-700 font-bold m-6">Bienvenido a este sitio para ayudarte a hacer el corte de cajas</h1>
<section class=" flex h-screen justify-center p-4">
    
    <div class="max-w-md rounded overflow-hidden shadow-lg">
        
        <img class="w-full" src="./assets/genteBorracha.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
        <div class="font-bold text-sm mb-2">
            Cómo aún no he creado el inicio, te invito a admirar esta foto de viejas borrachas, pero sabrosas por mientrás
        </div>
        <p class="text-gray-700 text-sm">
            El sitio se encuentra en construcción y mejora continua, por lo que puede que a veces no pueda calcular tu fondo y ciertas secciones se están construyendo, pero no te preocupes,
            se te avisará cuándo así sea, y puedes utilizar tus registros en esta tabla para hacerlo de forma tradicional, es decir,
            con el checador de excel. 
        </p>
        </div>
  </div>
</section>