<section>
    <section class="grid h-screen place-items-center relative z-0">

    
            <div class="grid grid-cols-4 square gap-5">                
                <div id="color1" class="bg-[#115f9a] w-full"></div>
                <div id="color2" class="bg-[#8ecae6] w-full"></div>
                <div id="color3" class="bg-[#E91E63] w-full"></div>
                <div id="color4" class="bg-[#FF8F00] w-full"></div>
            </div>
            <div class="second-square bg-gray-900 border border-neutral-50 rounded-lg z-10 absolute py-4 px-8 text-white">
                <div>
                    <app-initial-configuration></app-initial-configuration>
                </div>
            </div>
    </section> 

</section>
